<div class="modal">
	<ion-header-bar>
        <h1 class="title">Pesquisar</h1>
	</ion-header-bar>
	
	<ion-content ng-controller="PesquisaController">
		<div class="col col-100">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Nome" value=" " ng-model="nome">
            </label>
        </div>

        <div class="col col-100">
            <label class="item item-input item-select">
                <div class="input-label">
                    UF
                </div>
                <select ng-model="uf" ng-change="ufChange()">
                    <option value="0">Sem UF</option>
                    <option ng-repeat="u in ufs" value="{{u.idUf}}">{{u.uf}}</option>
                </select>
            </label>
        </div>

        <div class="col col-100" ng-show="uf != 0">
            <label class="item item-input item-select">
                <div class="input-label">
                   Cidade
                </div>
                <select ng-model="cidade">
                    <option  ng-repeat="ct in cidades" value="{{ct.idCidade}}">{{ct.nomeCidade}}</option>
                </select>
            </label>
        </div>

        <div class="col col-100" ng-show="uf == 0">
            <div class="input-label">
               Distância {{ distancia }}Km
            </div>
        </div>

        <div class="col col-100" ng-show="uf == 0">
            <div class="item range range-positive">                
                1Km
                <input type="range" name="volume" min="1" max="100" ng-model="distancia">
                100km
            </div>
        </div>

        <div class="col col-100">
            <button class="button button-positive button-block ion-icon icon-left ion-search" ng-click="pesquisar()">Buscar</button>
        </div>

		<button class="button button-full button-stable" ng-click="closeModal(1)">Cancelar</button>
	</ion-content>
</div>