<div class="modal" ng-controller="InfoModal">
    <ion-header-bar>
        <h1 class="title">{{ info.nome }}</h1> 
        <a ng-controller="PesquisaController" class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal(2)"> Voltar</a>
    </ion-header-bar>
    
    <ion-content>	
    	<div class="list card">
			<div class="item">
				<h3 title="{{ info.nome }}">{{ info.nome }}</h3>
				<p>{{ info.tipo }}</p>
			</div>
			<div class="item item-body">
				<a href="#" class="item">
					<b>Logradouro:</b> {{ info.endereco.logradouro }}<br/>
					<b>Numero:</b> {{ info.endereco.numero }}<br/>
					<b>Complemento:</b> {{ info.endereco.complemento }}<br/>
					<b>Bairro:</b> {{ info.endereco.bairro }} <br/>
					<b>CEP:</b> {{ info.endereco.cep }} <br/>
					<b>Municipio:</b> {{ info.endereco.cidade }} <b>UF:</b> {{ info.endereco.uf }} <br/>	
					<b>Como chegar:</b> <button class="ion-icon ion-android-walk" title="Como chegar caminhando" ng-click="getRoute(info.endereco.latitude, info.endereco.longitude, 'WALKING')"></button>
					<button class="ion-icon ion-android-bicycle" title="Como chegar de bicicleta" ng-click="getRoute(info.endereco.latitude, info.endereco.longitude, 'BICYCLING')"></button>
					<button class="ion-icon ion-android-car" title="Como chegar de carro" ng-click="getRoute(info.endereco.latitude, info.endereco.longitude, 'DRIVING')"></button>
					<button class="ion-icon ion-android-bus" title="Como chegar de transporte público" ng-click="getRoute(info.endereco.latitude, info.endereco.longitude, 'TRANSIT')"></button>
				</a>
				<a href="#" class="item item-icon-left" ng-show="info.email.length > 0"><i class="icon ion-email"></i>{{ info.email}}</a>
				<a href="{{ info.url}}" class="item item-icon-left" ng-show="info.url.length > 0"><i class="icon ion-link"></i>{{ info.url }}</a>
				<a href="#" class="item item-icon-left" ng-show="info.telefones.length > 0" ng-repeat="t in info.telefones"><i class="icon ion-ios-telephone"></i>{{ t.telefone }}</a>
			</div>
		</div>	

		
		<!-- 
			DESATIVADO por não funcionar corretamente. Objetivo exibir as fotos dos pids quando cadastradas.
			<div class="item card" ng-show="info.fotos.length > 0">
				<ion-slide-box auto-play="true" does-continue="true">
					<ion-slide ng-repeat="foto in info.fotos">
						<img class="image-slide" ng-src="{{ baseURL }}/api/{{ info.idPid }}/fotos/{{ foto.nome }}">
					</ion-slide>
				</ion-slide-box>
			</div>
		-->
    </ion-content>
</div>